Source: xdebug
Section: php
Priority: optional
Maintainer: Guillaume Plessis <gui@dotdeb.org>
Build-Depends: debhelper (>= 9~),
	       php7.0-dev,
	       dh-php
Standards-Version: 3.9.6
Homepage: http://xdebug.org/

Package: php7.0-xdebug
Architecture: any
Depends: ucf, ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}
Description: Xdebug Module for PHP
 The Xdebug extension helps you debugging your script by providing a lot of
 valuable debug information. The debug information that Xdebug can provide
 includes the following:
 .
    * stack traces and function traces in error messages with:
       - full parameter display for user defined functions
       - function name, file name and line indications
       - support for member functions
    * memory allocation
    * protection for infinite recursions
 .
 Xdebug also provides:
 .
    * profiling information for PHP scripts
    * script execution analysis
    * capabilities to debug your scripts interactively with a debug client
